@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik:wght@600&display=swap');@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: "Montserrat",  sans-serif!important;
    /* font-family: "Open Sans",  sans-serif; */

}
html{
    scroll-behavior: smooth;
}
.nav-bg-color.scrolled{
    /* background: #257A3D; */
    box-shadow: 0px 2px 20px 0px #333;
}
a{
    text-decoration: none!important;
}
a:hover{
    color: currentColor!important;
}
.rounded-10{
    border-radius: 10px!important;
}
.nowrap{
    white-space: nowrap;
}
.mt-7{
    margin-top: 7rem!important;
}
.btn-pill{
    border-radius: 20px!important;
    
}
.smallText{
    font-size: .8em;
    color: hsl(0, 0%, 60%);
    font-weight: 600;
}
.smallText-md{
    font-size: 1em;
    color: hsl(0, 0%, 45%);
    font-weight: 600;
}
.fs-1-5{
    font-size: 1.5rem;
}
.fs-2{
    font-size: 2em;
}
.fs-3{
    font-size: 3rem;
}
.fs-4{
    font-size: 4em;
}
.fw-bold{
    font-weight: bold;
}
.fw-600{
    font-weight: 600;
}
.rounded-10{
    border-radius: 10px;
}
.p-6{
    padding: 5rem;
}
.p-7{
    padding: 6rem;

}
/* ====================================================== */

nav{
    background-color: transparent;
}
.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 12rem 0;
    overflow: hidden;
    background: rgba(0, 0, 0, .5);
    min-height: 100vh;
}
.video{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;

}
.GetitBtns img{
    height: 60px;
}
.device{
    z-index: 0;
    position: absolute;
}
.mainContent_bg{
    background: #fbe101;
}
.feature_Box{
    padding: 1em;
}

hr{
    width: 100px!important;
}